@import "./utility.css";

/* //////////////////////////////////////////////// */
/* GLOBAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

::placeholder {
  font-family: "Quicksand", sans-serif;
}

input {
  width: 100%;
  background: none;
  border: none;
  font-family: "Quicksand", sans-serif;
}

/* //////////////////////////////////////////////// */
/* GLOBAL COLORS */

:root {
  --color-primary-dark: #444;
  --color-primary-light: #f3f3f3;
  --color-secondary-light: #fff;
}
/* ========================== HEADER ========================= */
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo--heading {
  margin-left: 5rem;
  font-weight: 900;
  font-size: 3rem;
}

.logo--img {
  width: 5rem;
  margin-right: 5rem;
}

/* ========================== SIGNIN ======================= */
.signin--container {
  height: 90vh;
  width: 100%;
  background-color: var(--color-primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--left {
  width: 60%;
  height: 100%;
  background-image: url("../img/undraw_Savings_re_eq4w.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.container--right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.signin--info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.signin--img {
  width: 20rem;
}

.signin--heading {
  font-size: 5rem;
  margin-top: 2rem;
}

.signin--form {
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input--field {
  display: flex;
  min-width: 50%;
  background-color: #f3f3f3;
  padding: 2rem 3rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.input--field input {
  font-size: 2rem;
  margin-left: 2rem;
}

.btn {
  background: #333;
  padding: 2rem 5rem;
  border-radius: 4rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

/* ====================== UI ======================== */

.ui--container {
  height: 90vh;
  width: 100%;
  background: #f3f3f3;
  display: flex;
}

.ui--left {
  padding: 2rem 0;
  width: 60%;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  grid-gap: 2rem;
}

.ui--right {
  padding: 2rem 0;
  width: 40%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.ui--greet {
  border-radius: 1rem;
  margin: 0 auto;
  width: 80%;
  background: salmon;
}

.ui--movements {
  border-radius: 1rem;
  margin: 0 auto;
  width: 80%;
  background: saddlebrown;
  overflow-y: scroll;
}

.ui--stats {
  border-radius: 1rem;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui--data {
  background: chartreuse;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 2rem;
}

.ui--function {
  background: coral;
  border-radius: 2rem;
  padding: 2rem;
  margin: 0 auto;s
  width: 80%;
}

@media screen and (max-width: 1300px) {
  .container--left {
    width: 40%;
  }

  .container--right {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .container--left {
    width: 0%;
  }

  .container--right {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .container--left {
    width: 0%;
  }

  .container--right {
    width: 100%;
  }

  .ui--container {
    flex-direction: column;
  }

  .ui--left {
    width: 100%;
    height: 60vh;
  }

  .ui--right {
    width: 100%;
    height: 60vh;
  }
}
